button {
    height: 35px;
    border-radius: 10px;
}

.iconfont {
    display: inline-block;
    margin-right: 6px;
    transform: scale(1.5); /* 使用 transform 放大而非改字号，以使 iconfont 保持垂直居中 */
}

.wrapper {
    width: 350px;
    margin: 15px 10px 10px;
}

.target_selector_wrapper {
    margin-bottom: 10px;
    text-align: right;
}

#target_selector {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.shortcuts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.shortcuts button {
    width: 170px;
    color: #ffffff;
}

#send_page {
    background-color: #3d87dc;
}

#send_clip {
    background-color: #60a604;
}

#clipboard_area {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_input {
    display: flex;
    margin-bottom: 10px;
}

#custom_textarea {
    flex: 1;
    height: 180px;
    padding: 5px;
    resize: vertical;
    /* overflow-y: scroll; 默认样式似乎更自然*/
}

#send_custom {
    align-self: flex-end;
    width: 70px;
    margin-left: 10px;
    background-color: #d92323;
    color: #ffffff;
}