.wrapper {
    width: 350px;
    margin: 15px 10px 10px;
}

/*.auto_copy_wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}*/

#auto_copy_checkbox {
    margin: 0;
    vertical-align: middle;
}

.option_title {
    margin: 15px 0 6px;
    font-size: 1.3em;
    font-weight: 700;
}

.device_table {
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
    table-layout: fixed;
    border-collapse: collapse;
    color: #666666;
}

.device_table td {
    padding: 4px 1px;
    border: none;
}

.device_table .alias_col, .tooltip_col {
    width: 75px;
}

.device_table .url_col {
    width: 200px;
}

.item_tooltip {
    opacity: 0;
    text-align: right;
}

.item_tooltip button {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.tool_default:hover {
    color: #ffa500;
}

.tool_edit:hover {
    color: #1e90ff;
}

.tool_delete:hover {
    color: #ff0000;
}

.device_thead {
    border-bottom: 1px solid #cccccc;
}

.device_thead th {
    padding-bottom: 4px;
}

#device_tbody tr:hover {
    background-color: #f3f3f3;
}

#device_tbody tr:hover .item_tooltip {
    opacity: 1;
}

.default_item .item_alias, .default_item .item_url {
    font-weight: 700;
}

.default_item .item_alias::before {
    content: '[默认] ';
}

.default_item .tool_default {
    visibility: hidden;
}

#device_form {
    margin-bottom: 10px;
}

#device_form_title {
    margin: 6px 0 6px;
    font-size: 1.2em;
    font-weight: 700;
}

#device_form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 6px;
    padding: 2px 5px;
}

#alias_input {
    margin-bottom: 6px;
}

.button_group {
    text-align: right;
}

.button_group button {
    width: 70px;
    height: 30px;
    border-radius: 10px;
}

#submit_button {
    color: #ffffff;
    background-color: #d92323;
}

#cancel_button {
    display: none;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

.in_edit #cancel_button {
    display: inline-block;
}

.in_edit input {
    animation: blink 0.8s ease-in-out;
}

@keyframes blink {
    15% {
        background-color: #feffcb;
    }
    30% {
        background-color: #ffffff;
    }
    50% {
        background-color: #feffcb;
    }
    80% {
        background-color: #ffffff;
    }
}

.footer a i {
    display: inline-block;
    margin-right: 6px;
    transform: scale(1.5);
}