.wrapper {
    width: 350px;
    margin: 15px 10px;
}

.target_selector_wrapper {
    margin-bottom: 10px;
    text-align: right;
}

#target_selector {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.shortcuts {
    display: flex;
    justify-content: space-between;
}

.shortcuts button {
    width: 48%;
}

#clipboard_area {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_input {
    display: flex;
}

#custom_textarea {
    flex: 1;
    height: 200px;
    resize: vertical;
   /* overflow-y: scroll; 默认样式似乎更自然*/
}

#send_custom {
    align-self: flex-end;
    width: 80px;
    margin-left: 10px;
}

.footer{
    text-align: right;
    border-top: 1px solid #333333;
}
